{% extends 'base/base.html' %} {% load static %} {% block title %} Rent
{% endblock %} {% block css %}
    <link rel="stylesheet" href="{% static 'home/rent-assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/uikit/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/uikit/uikit.min.css' %}"/>
    <style>
        .container {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card-car .backgroundEffect {
            bottom: 0;
            height: 0px;
            width: 100%;
        }

        .card-car:hover {
            color: #000;
            transform: scale(1.025);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
        }

        .card-car:hover .backgroundEffect {
            bottom: 0;
            height: 320px;
            width: 100%;
            position: absolute;
            z-index: -1;
            background: #030303;
            animation: popBackground 0.3s ease-in;
        }

        .col-md-4 {
            flex: 0 0 auto;
            width: auto;
        }

        @keyframes popBackground {
            0% {
                height: 20px;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
            }

            50% {
                height: 80px;
                border-top-left-radius: 75%;
                border-top-right-radius: 75%;
            }

            75% {
                height: 160px;
                border-top-left-radius: 85%;
                border-top-right-radius: 85%;
            }

            100% {
                height: 320px;
                border-top-left-radius: 100%;
                border-top-right-radius: 100%;
            }
        }

        .card-car .pic {
            position: relative;
        }

        .card-car .pic img {
            width: 100%;
            height: 280px;
            object-fit: cover;
        }

        .card-car .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 70px;
            background-color: #030303;
            color: white;
            position: absolute;
            bottom: 0px;
            transition: all ease;
        }

        .card-car .date .day {
            font-size: 14px;
            font-weight: 600;
        }

        .card-car .date .month,
        .card-car .date .year {
            font-size: 10px;
        }

        .card-car .text-muted {
            font-size: 12px;
        }

        .card-car:hover .text-muted {
            color: #fff !important;
        }

        .card-car .content {
            padding: 0 20px;
        }

        .card-car .content .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            background-color: #030303;
            border-radius: 25px;
            font-size: 12px;
            border: none;
        }

        .card-car:hover .content .btn {
            background: #fff;
            color: #030303;
            box-shadow: #0000001a 0px 3px 5px;
        }

        .card-car .content .btn .fas {
            font-size: 10px;
            padding-left: 5px;
        }

        .card-car .content .foot .admin {
            color: #030303;
            font-size: 12px;
        }

        .card-car:hover .content .foot .admin {
            color: #fff;
        }

        .card-car .content .foot .icon {
            font-size: 12px;
        }
    </style>
{% endblock %} {% block js %}
    <script src=" {% static 'home/uikit/all.min.js' %}"></script>
    <script src=" {% static 'home/uikit/uikit.min.js' %}"></script>
{% endblock %} {% block content %}
    <div class="section-head" style="margin-bottom: 1rem;">
        <!--  upper part  -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card p-3 text-left">
                    <div class="card-body">
                        <h3 class="card-title">Rent a Car</h3>
                        <form method="GET" class="row g-2" action="{% url 'home:rent' %}">
                            {{ carsFilter.form }}
                            <br>
                            <div>
                                <button type="submit" class="btn btn-primary w-100">
                                    SEARCH
                                </button>
                            </div>
                        </form>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                {% if cars %}
                    {% for car in cars %}
                        <div onclick="location.href='{% url 'home:car-detail' car.pk %}';"
                             class="card-car col-md-4 border-0 mb-4" style="width: 30%">
                            <div class="backgroundEffect"></div>
                            <div class="pic">
                                <img class="" src="{{ car.picture.url }}"/>
                            </div>
                            <div class="content">
                                <p class="h-1 mt-4 fw-bolder" style="text-transform: uppercase">
                                    {{ car.carModel.name }}
                                </p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Doors : {{ car.doors }}</li>
                                    <li class="list-group-item">Seats : {{ car.seats }}</li>
                                    {% if car.ac == True %}
                                        <li class="list-group-item">A/C : <input class="form-check-input"
                                                                                 type="checkbox" value="" checked
                                                                                 disabled>
                                        </li>
                                    {% endif %}
                                    <li class="list-group-item">Gearbox : {{ car.gearbox }}</li>
                                    <li class="list-group-item">Fuel : {{ car.fuel }}</li>
                                    <li class="list-group-item">year : {{ car.year }}</li>
                                </ul>
                                <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                                    <a href="{% url 'home:car-detail' car.pk %}"
                                       class="btn btn-block btn-primary"
                                       style="width: 10rem; height: 3rem">
                                        Rent <span class="fas fa-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 badge bg-dark text-wrap">
                        <h1 style="color: #ffffff;">No cars matching your search is available now. Please try
                            later. </h1>
                    </div>
                    <div class="col-12">
                        <img src="{% static 'base/images/icons/90421-car-in-movement.gif' %}">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}