{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    My Rent
{% endblock %}
{% block css %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        td {
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container">
        {% csrf_token %}
        <table class="table table-striped table-hover text-center">
            <thead class="text-uppercase">
                <th>car</th>
                <th>start date</th>
                <th>end date</th>
                <th>price</th>
                <th>paid</th>
                <th>confirmed</th>
            </thead>
            <tbody>
            {% for Reservation in object_list %}
                <tr>
                    <td class="align-middle">
                        <img src="{{ Reservation.car.picture.url }}" style="width: 150px">
                        <br>
                        {{ Reservation.car.car_model }}
                    </td>
                    <td class="align-middle">
                        {{ Reservation.start_date }}
                    </td>
                    <td class="align-middle">
                        {{ Reservation.end_date }}
                    </td>
                    <td class="align-middle">
                        {{ Reservation.price }} DH
                    </td>
                    <td class="align-middle">
                        <input type="checkbox" class="form-check-input" disabled {% if Reservation.paid %} checked {% endif %}>
                    </td>
                    <td class="align-middle">
                        <input type="checkbox" class="form-check-input" disabled {% if Reservation.confirmed %} checked {% endif %}>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block js %}

{% endblock %}