{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/register-assets/css/styles.css' %}">
{% endblock %}
{% block content %}
    <section class="position-relative py-4 py-xl-5">
        <h2 class="text-center mb-4"><strong>REGISTER</strong></h2>
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <form method="post">
                                {% csrf_token %}
                                {{ form }}
                                <div class="mb-3"><input class="form-control" type="text" id="fname" name="firstname"
                                                         placeholder="First Name"></div>
                                <div class="mb-3"><input class="form-control" type="text" id="lname" name="lastname"
                                                         placeholder="Last Name"></div>
                                <div class="mb-3"><input class="form-control" type="email" id="email" name="email"
                                                         placeholder="Email"></div>
                                <div class="mb-3"><input class="form-control" type="tel" id="tel" name="phone"
                                                         placeholder="Phone"></div>
                                <div class="mb-3"><input class="form-control" type="text" id="IDN" name="idn"
                                                         placeholder="ID Number"></div>
                                <div class="mb-3"><input class="form-control" type="text" id="address" name="address"
                                                         placeholder="Address"></div>
                                <div class="mb-3"><select class="form-control" name="city" id="city">
                                    <option value="Select">select a city</option>
                                    {% for results in Citys %}
                                    <option value=" {{ results.id }}">{{ results.name }}</option>
                                    {% endfor %}
                                </select></div>
                                <div class="mb-3"><input class="form-control" type="date" id="date" name="birthday"
                                                         placeholder="birth date"></div>
                                <div class="mb-3"><input class="form-control" type="password" id="pass" name="password"
                                                         placeholder="Password"></div>
                                <div class="mb-3"><input class="form-control" type="password" id="passc" name="passwordc"
                                                         placeholder="Confirm Password"></div>
                                <div class="mb-3"><input class="form-control" type="file" id="picture" name="picture"
                                                         placeholder="picture"></div>
                                <div class="mb-3"></div>
                                <div id="divlog" class="mb-3">
                                    <button class="btn btn-primary d-block w-100" type="submit"
                                            style="background: var(--bs-gray-700);border-style: none;">Register
                                    </button>
                                    <a href="../login" style="color: var(--bs-gray-700);">Login</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
