{% extends 'employee/base.html' %}
{% load static %}
{% block title %}
    Car
{% endblock %}
{% block cars_link_css_class %}
    active
{% endblock %}
{% block content %}
    <h3 class="text-dark mb-4">Car</h3>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3 w-100">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Info</p>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="{{ car.picture.url }}" class="rounded-circle"
                                 onclick="window.open('{{ car.picture.url }}','popup','width=300,height=300')"
                                 style="width: 300px; height:300px; "
                                 class="circle">
                        </div>
                        <div class="col">
                            <p><strong>Brand : </strong>{{ car.car_model.car_brand }} </p>
                            <p><strong>Doors : </strong>{{ car.doors }} </p>
                            <p><strong>Seats : </strong>{{ car.seats }} </p>
                            <p><strong>Gearbox : </strong>{{ car.get_gearbox_display }} </p>
                        </div>
                        <div class="col">
                            <p><strong>Model : </strong>{{ car.car_model.name }} </p>
                            <p><strong>Fuel : </strong>{{ car.fuel }} </p>
                            <p><strong>Year : </strong>{{ car.year }} </p>
                            <p><strong>Type : </strong>{{ car.car_type }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Activation</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <button class="btn btn-primary btn-sm" id="submit" type="submit">
                            {% if car.is_active %}Deactivate{% else %}Activate{% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'base/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'base/js/bootbox.min.js' %}"></script>
    <script src="{% static 'base/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'employee/js/functions.js' %}"></script>
    <script>
        let btn = $('#submit');
        btn.click(function () {
            is_active = (btn.text() === 'Activate');
            Swal.fire({
                title: 'Are you sure?',
                text: 'You want to ' + btn.text() + ' this car ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#4e73df',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    bootbox.prompt({
                        title: "The reason ?",
                        inputType: 'textarea',
                        maxlength: 500,
                        centerVertical: true,
                        callback: function (reason) {
                            if (reason) {
                                $.ajax({
                                    url: window.location.href,
                                    type: 'POST',
                                    data: {
                                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                                        'reason': reason
                                    },
                                    dataType: 'json',
                                    success: function (response) {
                                        Swal.fire({
                                            title: 'Car have been ' + ((response.is_active) ? 'activated' : 'deactivated'),
                                            icon: 'success',
                                            confirmButtonColor: '#4e73df',
                                        })
                                        btn.text(((!response.is_active) ? 'Activate' : 'Deactivate'));
                                    }
                                });
                            } else if (reason === '') {
                                Swal.fire({
                                    title: 'The reason is required',
                                    icon: 'error',
                                    confirmButtonColor: '#4e73df',
                                })
                            }
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}
