{% extends 'employee/base.html' %}

{% block content %}

    {% load static %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Reservations</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Client Info</p>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label
                                class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter"><label
                                class="form-label"><input type="search" class="form-control form-control-sm"
                                                          aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Clinet</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Car</th>
                            <th>Date</th>
                            <th></th>

                        </tr>
                        </thead>
                        {% for v in obj %}
                            <tbody>
                            <tr>
                                <td><img class="rounded-circle me-2" width="30" height="30"
                                         src="{{ v.client.picture.url }}"><br>{{ v.client.first_name }} {{ v.client.last_name }}
                                </td>
                                <td>{{ v.client.phone }}</td>
                                <td>{{ v.client.email }}</td>
                                <td>{{ v.client.address }} {{ v.client.city }}</td>
                                <td>{{ v.car.carModel }}</td>
                                <td>{{ v.startDate }} to {{ v.endDate }}</td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">paid</label>
                                </td>
                                <td>
                                    <input  class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">confirmed</label>
                                </td>

                                <td><a href="/employee/reservation/{{ v.id }}">
                                    <button class="btn btn-primary btn-sm">More Details</button>
                                </a></td>


                            </tr>

                            </tbody>
                        {% endfor %}
                        <tfoot>
                        <tr>
                            <td><strong>Client</strong></td>
                            <td><strong>Phone</strong></td>
                            <td><strong>Email</strong></td>
                            <td><strong>Address</strong></td>
                            <td><strong>Car</strong></td>
                            <td><strong>Date</strong></td>

                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1
                            to {{ setof }} of {{ count }}
                        </p>
                    </div>
                    {% if page_has_previous or page_has_next %}
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    {% if page_has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Previous"
                                               href="/employee/reservations/{{ setof }}/{{ num_page_previous }}">
                                                <span aria-hidden="true">«</span></a></li>
                                    {% endif %}
                                    {% if page_has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="/employee/reservations/{{ setof }}/{{ num_page_previous }}">{{ num_page_previous }}1</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item active"><a class="page-link"
                                                                    href="/employee/reservations/{{ setof }}/{{ num_page }}">{{ num_page }}</a>
                                    </li>
                                    {% if page_has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="/employee/reservations/{{ setof }}/{{ num_page_next }}">{{ num_page_next }}</a>
                                        </li>
                                    {% endif %}
                                    {% if page_has_next %}

                                        <li class="page-item"><a class="page-link" aria-label="Next"
                                                                 href="/employee/reservations/{{ setof }}/{{ num_page_next }}"><span
                                                aria-hidden="true">»</span></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


