{% extends 'employee/base.html' %}
{% load static %}
{% block title %}
    Reservations
{% endblock %}
{% block reservations_link_css_class %}
    active
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Reservations</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Info</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                            <label class="form-label">Show&nbsp;
                                <select class="d-inline-block form-select form-select-sm" id="show">
                                    <option value="10" {% if setof == 10 %} selected {% endif %}>10</option>
                                    <option value="25" {% if setof == 25 %} selected {% endif %}>25</option>
                                    <option value="50" {% if setof == 50 %} selected {% endif %}>50</option>
                                    <option value="100" {% if setof == 100 %} selected {% endif %}>100</option>
                                </select>&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter">
                            <select class="d-inline-block w-auto mb-2 form-select form-select-sm" id="filter">
                                <option value="">Select filter</option>
                                <option value="id" {% if search_filter == 'id' %} selected {% endif %}>ID</option>
                                <option value="first_name" {% if search_filter == 'first_name' %} selected {% endif %}>
                                    First name
                                </option>
                                <option value="last_name" {% if search_filter == 'last_name' %} selected {% endif %}>
                                    Last name
                                </option>
                                <option value="email" {% if search_filter == 'email' %} selected {% endif %}>Email
                                </option>
                                <option value="phone" {% if search_filter == 'phone' %} selected {% endif %}>Phone
                                </option>
                            </select>
                            <label class="form-label">
                                <input type="text" id="search_text" value="{{ search_value }}"
                                       class="form-control form-control-sm" aria-controls="dataTable"
                                       placeholder="Search">
                            </label>
                            <button class="btn btn-primary btn-sm" id="search">Search</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Client</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Car</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations_page %}
                            <tr class="align-middle">
                                <td>
                                    <img class="rounded-circle me-2" width="30" height="30"
                                         onclick="window.open('{{ user.picture.url }}','popup','width=300,height=300')"
                                         src="{{ reservation.client.picture.url }}">
                                    <br>
                                    {{ reservation.client.idn }}
                                    <br>
                                    {{ reservation.client.first_name }} {{ reservation.client.last_name }}
                                </td>
                                <td>{{ reservation.client.phone }}</td>
                                <td>{{ reservation.client.email }}</td>
                                <td>{{ reservation.client.address }} {{ reservation.client.city.name }}</td>
                                <td>{{ reservation.car.car_model }}</td>
                                <td>{{ reservation.start_date }} to {{ reservation.end_date }}</td>
                                <td>
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                           {% if reservation.paid %}checked disabled {% endif %}
                                           {% if not reservation.confirmed %}disabled{% else %}onchange="setPaid(this, {{ reservation.id }})"{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault">paid</label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                            {% if reservation.confirmed %} checked {% endif %} disabled>
                                    <label class="form-check-label" for="flexCheckDefault">confirmed</label>
                                </td>
                                <td><a href="/employee/reservation/{{ reservation.id }}">
                                    <button class="btn btn-primary btn-sm">More Details</button>
                                </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Client</strong></td>
                            <td><strong>Phone</strong></td>
                            <td><strong>Email</strong></td>
                            <td><strong>Address</strong></td>
                            <td><strong>Car</strong></td>
                            <td><strong>Date</strong></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1
                            to {{ setof }} of {{ count }}</p>
                    </div>
                    {% if page_has_previous or page_has_next %}
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    {% if page_has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Previous"
                                               href="/employee/reservations/search/{{ search_filter }}{% if search_is_active %}={% endif %}{{ search_value }}/{{ setof }}/{{ num_page_previous }}">
                                                <span aria-hidden="true">«</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if page_has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="/employee/reservations/search/{{ search_filter }}{% if search_is_active %}={% endif %}{{ search_value }}/{{ setof }}/{{ num_page_previous }}">{{ num_page_previous }}</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item active">
                                        <a class="page-link"
                                           href="/employee/reservations/search/{{ search_filter }}{% if search_is_active %}={% endif %}{{ search_value }}/{{ setof }}/{{ num_page }}">{{ num_page }}</a>
                                    </li>
                                    {% if page_has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="/employee/reservations/search/{{ search_filter }}{% if search_is_active %}={% endif %}{{ search_value }}/{{ setof }}/{{ num_page_next }}">{{ num_page_next }}</a>
                                        </li>
                                    {% endif %}
                                    {% if page_has_next %}
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Next"
                                               href="/employee/reservations/search/{{ search_filter }}{% if search_is_active %}={% endif %}{{ search_value }}/{{ setof }}/{{ num_page_next }}">
                                                <span aria-hidden="true">»</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'base/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'base/js/bootbox.min.js' %}"></script>
    <script src="{% static 'base/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'employee/js/functions.js' %}"></script>
    <script>
        $('#search').click(function () {
            let search = $('#search_text').val();
            let splitInSearch = window.location.href.split('/search/');
            if (search === '') {
                window.location.href = `${splitInSearch[0]}/search//10/1`;
            } else {
                let filter = $('#filter').val();
                if (filter === '') {
                    Swal.fire({
                        title: 'Choose a search filter',
                        icon: 'error',
                        confirmButtonColor: '#4e73df',
                    });
                } else {
                    let afterSearchSplit = splitInSearch[1].split('/');
                    window.location.href = `${splitInSearch[0]}/search/${filter}=${search}/${afterSearchSplit[1]}/${afterSearchSplit[2]}`;
                }
            }
        });


        let select = $('#show');
        select.change('change', function () {
            let search = $('#search_text').val();
            if (search === '') {
                window.location.href = '/employee/reservations/search//' + select.val() + '/1';
            } else {
                let filter = $('#filter').val();
                let splitInSearch = window.location.href.split(`${filter}=${search}`);
                window.location.href = `${splitInSearch[0]}${filter}=${search}/${select.val()}/1`;
            }
        });

        function setPaid(checkbox, id) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You want to confirm the payment of this reservation !',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#4e73df',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: window.location.href,
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': getCookie('csrftoken'),
                            'id': id,
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (!response.error) {
                                checkbox.disabled = true;
                                Swal.fire({
                                    title: 'Reservation have been paid',
                                    icon: 'success',
                                    confirmButtonColor: '#4e73df',
                                })
                            }
                        },
                    });
                } else {
                    checkbox.checked = false;
                }
            })
        }
    </script>
{% endblock %}


