{% extends 'employee/base.html' %}
{% block content %}
    {% load static %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <h3 class="text-dark mb-4">Profile</h3>
        <div class="row mb-3">
            <div class="">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3 w-100">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Client</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <img style="height: 90%; width: 90%; "
                                                 src="{{ reservation.client.picture.url }}">
                                        </div>

                                        <div class="col">

                                            <label> <strong style="font-size: 200%; text-decoration: underline;">User
                                                Name</strong></label>
                                            <h2 id="username"
                                                name="username"> {{ reservation.client.first_name }} {{ reservation.client.last_name }}
                                            </h2><br><br>
                                            <label> <strong style="text-decoration: underline; font-size: 200%;">Email
                                                Address</strong></label>
                                            <h2 id="email"
                                                name="email">{{ reservation.client.email }}
                                            </h2><br><br>

                                            <label><strong style="text-decoration: underline; font-size: 200%;">Phone
                                                Number</strong></label>
                                            <h2 id="phone"
                                                name="phone">{{ reservation.client.phone }}
                                            </h2><br><br>
                                            <label><strong style="text-decoration: underline; font-size: 200%;">Address</strong></label>
                                            <h2 id="address"
                                                name="adresse">{{ reservation.client.address }}
                                            </h2><br>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold"> Car Details</p>
                            </div>

                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <img style="height: 99%; width: 100%;"
                                                 src="{{ reservation.car.picture.url }}" alt="">
                                        </div>


                                        <div class="col">
                                            <label class="form-label"><strong style="text-decoration: underline; font-size: 200%;">Start
                                                Date</strong></label>
                                            <h2>
                                                {{ reservation.startDate }}
                                            </h2><br><br>

                                            <label class="form-label"><strong style="text-decoration: underline; font-size: 200%;">End
                                                Date</strong></label>
                                            <h2>
                                                {{ reservation.endDate }}
                                            </h2><br><br>

                                            <label> <strong style="text-decoration: underline; font-size: 200%;">Car
                                                Model</strong></label>
                                            <h2>
                                                {{ reservation.car.carModel }}
                                            </h2>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-5">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Employee</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="mb-3"><label class="form-label"
                                                     for="signature"><strong>Notes</strong><br></label><textarea
                                    class="form-control" id="signature" rows="4" name="signature"></textarea></div>

                            <div class="mb-3">
                                <button class="btn btn-primary btn-sm" type="submit">VALIDATE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
