{% extends 'base/base.html' %} {% load static %} {% block title %} Password email {% endblock %} {% block css %}
    <link
            rel="stylesheet"
            href="{% static 'user/register-assets/css/styles.css' %}"
    />

{% endblock %} {% block content %}
    <div class="container position-relative justify-content-center  ">
        <form
                method="POST"
                action="{% url 'user:password_reset' %}"
        >
            {% csrf_token %}

            <div class="mb-4">
                <input
                        class="form-control"
                        type="email"
                        name="email"
                        placeholder="email"
                        required
                />
            </div>
            <div class="mb-3">
                <button
                        class="btn btn-primary d-block w-100"
                        type="submit"
                        style="background: var(--bs-gray-700); border-style: none"
                >
                    Send Email
                </button>
            </div>
        </form>
    </div>

{% endblock %}
