{% load static %}
{% extends 'base/base.html' %}
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">WELCOME TO JDM</h2>
                            <p class="mb-4">Verify your email to activate your account !!</p>
                            <div class="my-3"><a class="btn btn-light btn-lg" role="button" href="#">Verify</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="{% static 'home/img/ToyotaSupraMK4BG.jpg' %}"></div>
                </div>
            </div>
        </div>
    </section>
{% block js %}
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}