<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <style>
        #btn {
            font-weight: bold;
            padding: 16px 32px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            background-color: white;
            color: black;
            border: 2px solid;
        }
    </style>
</head>
<body>
<h2>WELCOME TO JDM</h2>
<h3>Verify your email to activate your account !</h3>
<a id="btn" href="{{ activate_url }}" target="_blank">Verify</a>
</body>
</html>
