{% extends 'base/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block content %}
    <h2 class="text-center mt-3">Login</h2>
    <div class="container col-xxl-2 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-10 mt-5 p-4 border rounded shadow">
        <img src="{% static 'user/images/profile.png' %}" alt="user" width="70" class="d-block mx-auto mb-4">
        <form method="post" class="mx-auto needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" name="username" required class="form-control" placeholder="Username">
                <label>Username</label>
                <div class="invalid-feedback">
                    Username required.
                </div>
            </div>
            <div class="form-floating">
                <input type="password" name="password" required class="form-control" placeholder="Password">
                <label>Password</label>
                <div class="invalid-feedback">
                    Password required.
                </div>
            </div>
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-secondary">Sign in</button>
            </div>
        </form>
    </div>
    <script>
        const form = document.querySelector('.needs-validation')
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
    </script>
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"
            integrity="sha256-RhRrbx+dLJ7yhikmlbEyQjEaFMSutv6AzLv3m6mQ6PQ=" crossorigin="anonymous"></script>
    {% if error_message %}
        <script>
            Swal.fire({
                icon: 'error',
                confirmButtonColor: '#6c757d',
                text: '{{ error_message }}',
            });
        </script>
    {% endif %}
{% endblock %}
