{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    login
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user/login-assets/css/Login-Form-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'user/login-assets/css/styles.css' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .swal2-title{
            color: red;
        }
        .swal2-styled.swal2-confirm{
            background-color: red;
        }
    </style>
    
{% endblock %}
{% block content %}
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2><strong>LOGIN</strong></h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon my-4">
                                <img class="img-thumbnail" src="{% static 'base/images/icons/profile.png' %}" style="border: none;"/>

                            </div>
                            <form class="text-center" method="post" action="{% url 'user:login' %}">
                                {% csrf_token %}
                                <div class="mb-3"><input class="form-control" type="text" name="username"
                                                         placeholder="Username" required>
                                </div>
                                <div class="mb-3"><input class="form-control" type="password" name="password"
                                                         placeholder="Password" required></div>
                                <div class="mb-3">
                                    <button class="btn btn-primary d-block w-100" type="submit"
                                            style="background: var(--bs-gray-700);border-style: none;">Login
                                    </button>
                                    <a href="../register" style="color: var(--bs-gray-700);">Register</a></div>
                                <p class="text-muted">Forgot your password?</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
{% if form.errors %}
<script>
Swal.fire({
    title: 'Wrong Credentials',
    text: 'Your username or password is incorrect. Please try again',
    imageUrl: "{% static 'base/images/icons/wrong_credential.gif' %}",
    imageWidth: 400,
    imageHeight: 400,
    imageAlt: 'Wrong Credentials',
})
</script>
{% endif %}
{% endblock %}
