{% extends 'base/base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <h2 class="text-center mt-3">Password reset</h2>
    <form method="post" novalidate
          class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-11 mx-auto my-4 p-4 border rounded shadow needs-validation">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email address" required>
            <label>Email address</label>
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="invalid-feedback" style="display: block">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="invalid-feedback">
                Email required.
            </div>
        </div>
        <div class="d-grid gap-2 mt-3">
            <input type="submit" name="register" value="Reset" class="btn btn-secondary">
        </div>
    </form>
    <script>
        const form = document.querySelector('.needs-validation')
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
    </script>
{% endblock %}