{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/register-assets/css/styles.css' %}">

{% endblock %}
{% block content %}
<section class="position-relative py-4 py-xl-5">
    <h2 class="text-center mb-4"><strong>REGISTER</strong></h2>
    <div class="container position-relative justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <form method="POST" action="{% url 'user:register' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3"><input class="form-control" type="text" name="username"
                                    placeholder="Username. eg AkaMoughit" required></div>
                            <div class="mb-3"><input class="form-control" type="text" name="first_name"
                                    placeholder="First Name" required></div>
                            <div class="mb-3"><input class="form-control" type="text" name="last_name"
                                    placeholder="Last Name" required></div>
                            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"
                                    required></div>
                            <div class="mb-3"><input class="form-control" type="tel" name="phone" placeholder="Phone"
                                    required></div>
                            <div class="mb-3"><input class="form-control" type="text" name="idn" placeholder="ID Number"
                                    maxlength="8" required></div>
                            <div class="mb-3"><input class="form-control" type="text" name="address"
                                    placeholder="Address" required></div>
                            <div class="mb-3"><select class="form-control" name="city">
                                    <option value="none" selected disabled hidden>select a city</option>
                                    {% for results in Citys %}
                                    <option value=" {{ results.id }}">{{ results.name }}</option>
                                    {% endfor %}
                                </select></div>
                            <div class="mb-3"><input class="form-control" type="date" name="birthday" required></div>
                            <div class="mb-3"><input class="form-control" type="password" name="password1"
                                    placeholder="Password" required></div>
                            <div class="mb-3"><input class="form-control" type="password" name="password2"
                                    placeholder="Confirm Password" required></div>
                            <div class="mb-3"><input class="form-control" type="file" name="picture" required></div>
                            <div class="mb-3"></div>
                            <div id="divlog" class="mb-3">
                                <button class="btn btn-primary d-block w-100" type="submit"
                                    style="background: var(--bs-gray-700);border-style: none;">Register
                                </button>
                                <a href="../login" style="color: var(--bs-gray-700); margin-left: 43%">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
