{% extends 'base/base.html' %} {% load static %} {% block title %} Reset Password {% endblock %} {% block css %}
    <link
            rel="stylesheet"
            href="{% static 'user/register-assets/css/styles.css' %}"
    />

{% endblock %} {% block content %}
    <form
            method="POST"
            action="/user/reset-password/{{ token }}"
    >
    {% csrf_token %}
        <div class="mb-3">
            <input
                    class="form-control"
                    type="password"
                    name="password1"
                    placeholder="New Password"
                    required
            />
        </div>
        <div class="mb-3">
            <input
                    class="form-control {% if form.password2.errors %} is-invalid {% endif %}"
                    type="password"
                    name="password2"
                    placeholder="Confirm Password"
                    required
            />
        </div>
        {% if form.password2.errors %} {% for error in form.password2.errors %}
            <div class="invalid-feedback" style="display: block">
                {{ form.password2.errors }}
            </div>
        {% endfor %} {% endif %}
        <div id="divlog" class="mb-3">
                <button
                  class="btn btn-primary d-block w-100"
                  type="submit"
                  style="background: var(--bs-gray-700); border-style: none"
                >
                  Reset
                </button>
        </div>
    </form>
{% endblock %}
